# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env
*.env

# Node
node_modules/
frontend/build/
frontend/dist/
.npm

# Docker
*.pid

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store