@import 'tailwindcss';

:root {
  --color-primary: 79 70 229;
  --color-primary-hover: 67 56 202;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}
